.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
  }
  
  .navbar-logo img {
    height: 40px;
    width: auto;
  }
  
  .navbar-spacing {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
    .navbar-logo {
      order: 1;
    }
  
    .navbar-right {
      order: 2;
    }
  
    .navbar-links {
      position: fixed;
      right: -100%;
      top: 0;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 100vh;
      transition: right 0.3s ease-in-out;
    }
  
    .navbar-links.active {
      right: 0;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    .navbar-hamburger {
      display: flex;
    }
  }

  .navbar-close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .x-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 2px;
    background-color: #1b1718;
  }
  
  .x-icon::before,
  .x-icon::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #1b1718;
  }
  
  .x-icon::before {
    transform: rotate(45deg);
  }
  
  .x-icon::after {
    transform: rotate(-45deg);
  }
  
  